In [1]:
#Question-1
import pandas as pd
print(pd.__version__)

1.1.4

In [3]:
#Question-2
import pandas as pd
import numpy as np
arr=np.array([111,42,2563,458903,1225])
srr=pd.Series(arr)
print(srr)

0       111
1        42
2      2563
3    458903
4      1225
dtype: int64

In [5]:
#Question-3
import pandas as pd
import numpy as np
arr=np.array([111,42,2563,458903,1225])
srr=pd.Series(arr)
d1 = srr.to_frame().reset_index()
print(d1)

   index       0
0      0     111
1      1      42
2      2    2563
3      3  458903
4      4    1225

In [18]:
#Question-4
import seaborn as sns
a=sns.get_dataset_names()
print(a)
print()
b=sns.load_dataset("mpg")

print(b)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

In [24]:
#Question-5
import seaborn as sns
a=sns.load_dataset('mpg')
print(mpg['origin'].unique())

['usa' 'japan' 'europe']

In [27]:
#Question-6
import seaborn as sns
a=sns.load_dataset('mpg')
print(a[a['origin']=='usa'])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]